<%= render 'section_image' %>
<div class="container space-bottom">
	<div class="row">
		<div class="col-xs-12 col-sm-6 space-bottom-plus">
			<%= render 'form' %>
			<div class="fill-light-grey box space-bottom-plus" id="new_contact_success" style="display:none">
				<h4>Grácias por contactarte con nosotros.</h4>
				<p>Nos pondremos en contacto a la brevedad.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<%= render 'contact_box' %>
			<%= render 'speakers/search_box' %>
		</div>
	</div>
</div>