<div class="section-image posts">
  <div class="container">
    <h2>
    	Blog
    	<%= link_to 'Volver', posts_path, class: 'arrow-back pull-right' if defined? show_back_button and show_back_button %>
  	</h2>
  </div>
</div>