.admin-buttons { position: fixed; z-index: 99999; right: 5px; top: 90px; width: 120px; }
.admin-buttons a { display: block; background-color: #D61B16; color: #FFF; padding: 10px; margin-bottom: 2px; }
.admin-buttons a.edit { background-color: #d3d3d3; color: #000; }
.admin-buttons a.destroy { background-color: #8A0000; }
.admin-buttons a.show { background-color: #00ACDF; color: #FFF; padding: 5px 10px; }
.admin-buttons>div { padding-top: 4px; }
.admin-buttons>div>div { background-color: #FFF; text-align: center; font-size: 16px; font-weight: 800; border: 1px solid #000000; border-bottom: #FFF; padding: 2px 0; }

body.admin>.container { margin-bottom: 50px; }
body.admin td, body.admin th { padding-right: 15px; padding-bottom: 2px; }
body.admin [type=submit] { margin-top: 30px; margin-bottom: 15px; }
body.admin form p { margin: -7px 0 0; }
body.admin form label { display: block; }
body.admin form label>span { font-weight: 400; }
body.admin form [type=checkbox] { margin-left: 10px; }
body.admin form [type=radio] { margin-left: 10px; margin-right: 5px; }