header.brand { padding-top: 70px; }
.logo-tb { height: 55px; width: auto; }
.container.brand { padding-top: 50px; }
.container.brand .row { margin-right: -5px; margin-left: -5px; }
.container.brand .row>div { padding-left: 5px; padding-right: 5px; }
.container.brand .grey-box { background-color: #DDD; text-align: center; padding: 20px 0; margin-bottom: 10px; }
.container.brand .grey-box img { height: 150px; width: auto; }
footer.brand .logo-tb { height: 45px; }