<div class="container preview-speakers">
	<div class="row">
		<% if speakers.empty? and params[:q].present? and params[:q][:search].present? %>
			<div class="col-xs-12 text-center speakers-empty">
				<h4>No se encontraron resultados para: <em><%= params[:q][:search] %></em></h4>
			</div>
		<% end %>
		<%= render speakers %>
	</div>
</div>