<div class="container speaker-search-bar">
	<div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
    	<span class="btn btn-primary">Encuentra un speaker</span>
    </div>
    <div class="btn-group" role="group">
      <select class="ui fluid search normal dropdown btn btn-invert dropdown-toggle">
        <option value="">Por nombre</option>
        <% @speakers.each do |speaker| %>
          <option value="<%= speaker_path(speaker) %>"><%= speaker.full_name %></option>
        <% end %>
      </select>
    </div>
    <div class="btn-group" role="group">
      <select class="ui fluid search normal dropdown btn btn-invert dropdown-toggle">
        <option value="">Por tema</option>
        <% @areas.each do |area| %>
          <option value="<%= area_path(area) %>"><%= area.title %></option>
        <% end %>
      </select>
    </div>
  	<div class="btn-group search-group" role="group">
  		<span class="glyphicon glyphicon-search"></span>
  		<input type="text" class="form-control" placeholder="Por palabra">
  	</div>
    <div class="btn-group" role="group">
    	<a href="#" class="btn btn-primary" role="button">Buscar</a>
    </div>
  </div>
</div>
<% content_for :extra_js do %>
  $('.ui.dropdown.btn').dropdown({
    action: function(text, value) {
      window.location.href = value;
    }
  });
<% end %>