<%= link_to 'New Speaker', new_speaker_path if false %>
<div class="section-image speakers">
  <div class="container">
    <h2>Speakers</h2>
  </div>
</div>
<%= render 'search' %>
<%= render 'preview_boxes', speakers: @speakers.sample(12) %>