<% unless controller_name == 'contacts' %>
	<section class="fill-grey box inspace-top-bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 space-bottom-plus">
					<h4>TB &amp; Asociados</h4>
					<p class="space-bottom">Conferencias, seminarios y talleres.</p>
					<%= link_to 'Leer mas', 'http://equipobulat.com', class: 'arrow-right default', target: '_blank' %>
				</div>
				<div class="col-xs-12 col-sm-4">
					<%= render 'contacts/contact_box' %>
				</div>
			</div>
		</div>
	</section>
<% end %>