<% unless controller_name == 'contacts' %>
	<section class="fill-grey box inspace-top-bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 space-bottom-plus">
					<h4>TB &amp; Asociados</h4>
					<p class="space-bottom">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi consequat.</p>
					<%= link_to 'Leer mas', brand_path, class: 'arrow-right default' %>
				</div>
				<div class="col-xs-12 col-sm-4">
					<%= render 'contacts/contact_box' %>
				</div>
			</div>
		</div>
	</section>
<% end %>